
<!------------------------ EDIT AVATAR FORM --------------------------------------------------> 
<div class="modal-dialog modal-dialog-centered" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLongTitle">Modifier ma photo de profil</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <figure style="margin: 0">
            <%= image_tag profile.avatar_attachment_path, class:"card-img-top", style:"height:350px;width:350px"%>
          </figure>    
          <%= form_tag profile_avatars_path(profile.id), multipart: true do %>
            <span class="form-label">
                <%= file_field_tag :avatar%>
            </span>
          <%= submit_tag "Mettre à jour", class:"btn btn-primary btn-block", style:"width:350px;" %>
          <% end %>
        </div>
      </div>        
    </div>

  </div>
</div>
<!------------------------ END EDIT AVATAR FORM -------------------------------------------------->
