<div class="container">

  <h1 class="form-label text-black">Bonjour bienvenue sur BoBato !</h1>
  <br>

  <p>
    Vous vous êtes inscrit sur BoBato en utilisant l'e-mail suivant : <%= @user.email %>.
  </p>

</div>

