<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-3 mx-auto">      
    <div class="card" style="width: 20rem;">
      <img src="https://images.assetsdelivery.com/compings_v2/kritchanut/kritchanut1406/kritchanut140600088.jpg"class="card-img-top" alt="Cinque Terre">
      <div class="text-dark"> 
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nom & Prénom : Joe MACKINE</li>
          <li class="list-group-item">Date de naissance : 11/07/1982</li>
          <li class="list-group-item">Ville : Sidny</li>
          <li class="list-group-item">Email : joe_mackine@gmail.com</li>
          <li class="list-group-item">Permis : XXXX</li>
          <li class="list-group-item">
            <h5 class="card-title">Description</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </li>
          <li class="list-group-item">
            <h5 class="card-title">Expérience</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </li>             
        </ul>      
        <div class="p-3 bg-primary">
            <div class ="text-center">
              <a href="#" class="text-dark">Edit Profile</a> 
            </div> 
        </div> 
      </div> 
           
    </div>
  </div>
</div>