<%= content_for :title, "Se connecter" %>

<!------------------------ SMALL BANNER ----------------------------------------------------->
<%= render 'login_banner' %>
<!------------------------ SMALL END BANNER ----------------------------------------------------->

<%= devise_error_messages! %>

<!------------------------ LOGIN FORM ----------------------------------------------------->
<section class="site-section bg-light bg-image", id="login">
  <div class="row d-flex justify-content-center">  
    <div class="col-md-6"> 
      <div class="p-5 bg-white">
        <%= render 'new' %>
      </div>
    </div>
  </div>
</section>
<!------------------------ END LOGIN FORM ----------------------------------------------------->

