<% if @convoy.errors.any? %>
  <div class = "alert alert-warning">
    <div>
      La création du convoi a rencontré <%= pluralize(@convoy.errors.count, "erreur") %> :
    </div>
    <ul>
      <% @convoy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
