  <% if flash[:errors] %>
    <div class = "alert alert-warning">
      La création du convoi a rencontré <%= pluralize(flash[:errors].length, "erreur") %> :
      <ul>
        <% flash[:errors].each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% elsif flash[:success] %>
    <div class = "alert alert-success"><%= flash[:success] %></div>
  <% end %>



