.form-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
}


.form-sm-text {
	font-size: 0.9rem; 
	margin-bottom: 0.5rem;
}


.form-label-tiny {
	font-family:'Oswald', sans-serif; 
	font-weight: 300 !important;
	font-size: 0.9rem; 
}