.form-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
}

.card-text {
	margin :0;
}

.text-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
	margin-bottom: 0rem;
}

.form-sm-text {
	font-size: 0.9rem; 
	margin-bottom: 0.5rem;
}

.form-label-tiny {
	font-family:'Oswald', sans-serif; 
	font-weight: 300 !important;
	font-size: 0.9rem; 
}

.noHover{
    pointer-events: none;
}

.text-sm{
    font-size: 0.8rem;
    padding:0.2rem 0.6rem 0.2rem 0.6rem;
}

.w-15{
	width: 150px;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

