.form-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
}

.card-text {
	margin :0;
}

.card-image {
    width: 150px;
    height: 227px;
}

.text-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
	margin-bottom: 0rem;
}

.form-sm-text {
	font-size: 0.9rem; 
	margin-bottom: 0.5rem;
}

.form-label-tiny {
	font-family:'Oswald', sans-serif; 
	font-weight: 300 !important;
	font-size: 0.9rem; 
}

.form-label-sm {
    font-family:'Oswald', sans-serif; 
    font-weight: 300 !important;
    font-size: 1rem; 
}

.noHover{
    pointer-events: none;
}

.text-sm{
    font-size: 0.8rem;
    padding:0.2rem 0.6rem 0.2rem 0.6rem;
}

.w-15{
	width: 150px;
}

.w-05{
    width: 50px;
}

.footnotesize{
    font-size: 0.7rem;
}

p span {
    display: block;
}

.big-modal {
    max-width: 70rem;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.swing:hover{
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.custom-pagination a, .custom-pagination span {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #21A0BF;
  color: #fff; }

.custom-pagination span {
  background: #e6e6e6;
  color: #000; }


.custom-pagination .more-page {
  background: none;
}

.marg-30 {
    margin-left: 30px;
}