.form-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
}

.card-text {
	margin :0;
}

.text-label {
	font-family:'Oswald', sans-serif; 
	text-transform: uppercase; 
	font-weight: 300 !important;
	margin-bottom: 0rem;
}

.form-sm-text {
	font-size: 0.9rem; 
	margin-bottom: 0.5rem;
}

.form-label-tiny {
	font-family:'Oswald', sans-serif; 
	font-weight: 300 !important;
	font-size: 0.9rem; 
}

.noHover{
    pointer-events: none;
}

.text-sm{
    font-size: 0.8rem;
    padding:0.2rem 0.6rem 0.2rem 0.6rem;
}

.w-15{
	width: 150px;
}
