<!DOCTYPE html>

<html>

  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900|Oswald:300,400,700" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', async: true, defer: true %>

  </head>

  <body>

    <div class="container">

      <div style="width: 20%" class="text-center">
        <%= image_tag attachments['logo-bobato-dark.png'].url %>
      </div>

      <h1 class="form-label text-black">Demande de réinitialisation du mot de passe.</h1>
      <br>

  	  <p>Afin de réinitialiser votre mot de passe. Suivez le lien ci dessous.</p>
  	  <p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
  	  <p>Si vous n'avez pas fait cette demande, ignorez ce mail.</p>
	  <p>Votre mot de passe ne sera pas chagé tant que vous n'aurez pas accéder au lien ci-dessus pour en créer un nouveau.</p>

      <p>
        Pour accéder à votre espace client, connectez-vous sur : <a href="https://bobato.herokuapp.com/">Bobato</a>.
      </p>

      <p> À très vite !</p><br>

      <div  style="font-size: 12px;" >
        Vous recevez ce mail car vous venez de vous inscrire sur BoBato.com. 
        <br>Le site qui a de beaux bateaux avec de beaux skippers.
      </div>

    </div>



  </body>

</html>



