  <footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-md-8">
          <div class="row">

            <div class="col-md-5">
              <h2 class="footer-heading mb-4">À propos de Nous </h2>
              <p>Les voiles de Bobato ont été lancées par cinq mousaillons en passe de devenir corsaires.  </p>
            </div>

            <div class="col-md-3 mx-auto">
              <h2 class="footer-heading mb-4"></h2>
              <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
              </ul>
            </div>

            <div class="col-md-4">
              <a href="/"><img src="/assets/logo-bobato.png" alt="" style="width:200px;height:200px;" ></a>
            </div>
            </div>

          </div>
        </div>

        <div class="col-md-4">

          <div class="mb-4">
            <h2 class="footer-heading mb-4"></h2>
            <form action="#" method="post" class="footer-subscribe">
            
            </form>  
          </div>
      
          </div>

        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
          <p class="copyright">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
          </div>
        </div>
        
      </div>
  </footer>